/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
.customize-button {
  background-color: #007aff;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.customize-button:hover {
  background-color: #005bb5;
  transform: scale(1.05);
}

.customize-button:active {
  background-color: #004d99;
  transform: scale(0.98);
}

.case-option, .band-option, .size-option, .collection-option {
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.case-option:hover, .band-option:hover, .size-option:hover, .collection-option:hover {
  background-color: #f0f0f0;
}

.watch-image {
  max-width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}

.watch-image:hover {
  transform: scale(1.1);
}

.collection-option {
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.collection-option.selected {
  border-color: #007aff; /* Highlight color */
  background-color: rgba(0, 122, 255, 0.1); /* Light blue highlight */
}

.collection-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
