@tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width: 768px) {
  .customization-container {
    padding: 1rem;
  }

  .customization-options {
    grid-template-columns: 1fr;
  }

  .watch-preview img {
    width: 200px;
  }
}
